@model kamrul.sample.Models.Product
<fieldset>
    <legend>Category:</legend>
    <div class="display-field">
        <strong>Name: </strong>@Html.DisplayFor(model => model.Name)
    </div>
    <div class="display-field">
        <strong>Price: </strong>@Html.DisplayFor(model => model.Price)
    </div>
</fieldset>
